body {
  background-color: white;
  margin: 5% 5%
}

h1{
  color: black;
  font-size: 36px;
  font-family: serif;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: serif;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

h3 {
  text-align: center;  
  font-family: serif;
}

h4{
  font-family: serif;
}

.header {
  background-color:white;
  border: 1px solid black;
  padding-left: 20px
}

.prev {
  background-color:#EEF6FD;
  border: 1px solid black;
  padding: 20px
}

.skills {
  background-color:#D3E9FC;
  border: 1px solid black;
  padding: 20px
}

.ed {
  background-color:#B0D8F8;
  border: 1px solid black;
  padding: 20px
}

.hob {
  background-color:#8FC8F7;
  border: 1px solid black;
  padding: 20px
}

ul {
  font-family: arial;
}
